*
!.gitignore
!.gitkeep

!/.agents/
!/.agents/skills/
!/.agents/skills/*/
!/.agents/skills/*/SKILL.md

!/.github/
!/lib/
!/lib/package.sh
!/lib/nix/
!/lib/nix/*.nix
!/flake/
!/flake/*.nix
!/packages/
!/src/
!/src/*.ts
!/tests/
!/tests/**

!/.oxfmtrc.jsonc
!/.oxlintrc.jsonc
!/AGENTS.md
!/deno.jsonc
!/deno.lock
!/flake.lock
!/flake.nix
!/README.md
!/tsconfig.json
!/tsReset.d.ts
