*
!.gitignore
!.gitkeep

!/.agents/
!/.agents/skills/
!/.agents/skills/*/
!/.agents/skills/*/SKILL.md

!/.github/

!/flake/
!/flake/*.nix
!/lib/
!/lib/nix/
!/lib/nix/*.nix
!/lib/package.sh
!/lib/ts/
!/lib/ts/core/
!/lib/ts/core/*.ts
!/lib/ts/npm/
!/lib/ts/npm/*.ts
!/lib/ts/pin/
!/lib/ts/pin/*.ts
!/lib/ts/repo/
!/lib/ts/repo/*.ts
!/lib/ts/source/
!/lib/ts/source/*.ts
!/lib/ts/system/
!/lib/ts/system/*.json
!/lib/ts/system/*.ts
!/lib/ts/update/
!/lib/ts/update/*.ts
!/packages/
!/tests/
!/tests/*.ts

!/.oxfmtrc.jsonc
!/.oxlintrc.jsonc
!/AGENTS.md
!/deno.jsonc
!/deno.lock
!/fileSpec.cue
!/flake.lock
!/flake.nix
!/README.md
!/tsconfig.json
!/tsReset.d.ts
