*
!.gitignore
!.gitkeep

!/.agents/
!/.agents/skills/
!/.agents/skills/*/
!/.agents/skills/*/SKILL.md

!/.github/

!/flake/
!/flake/*.nix
!/lib/
!/lib/nix/
!/lib/nix/*.nix
!/lib/package.sh
!/lib/ts/
!/lib/ts/*.ts
!/packages/
!/tests/
!/tests/*.ts

!/.oxfmtrc.jsonc
!/.oxlintrc.jsonc
!/AGENTS.md
!/deno.jsonc
!/deno.lock
!/fileSpec.cue
!/flake.lock
!/flake.nix
!/README.md
!/tsconfig.json
!/tsReset.d.ts
