!/
!/nix/
!/nix/*.nix
!/ts/
!/ts/core/
!/ts/core/*.ts
!/ts/npm/
!/ts/npm/*.ts
!/ts/pin/
!/ts/pin/*.ts
!/ts/repo/
!/ts/repo/*.ts
!/ts/repo/fileSpec/
!/ts/repo/fileSpec/*.ts
!/ts/source/
!/ts/source/*.ts
!/ts/system/
!/ts/system/*.json
!/ts/system/*.ts
!/ts/update/
!/ts/update/*.ts

!/package.sh
